/* $Id: print.css,v 1.1 2005-04-08 05:15:14 rkalra Exp $ */

#banner, #footer, #leftcol, #breadcrumbs, .docs #toc, .docs .courtesylinks	{
	display: none;
	}
body.docs div.docs	{
	margin: 0 !important;
	border: none !important
	}
