

<jmanage-config>
    <applications>
        <application name="EmailDaemon" server="" port="" type="Weblogic6.1">

        </application>
        <application-cluster name="App Cluster">
            <application name="Earth">

            </application>
            <application name="Venus">

            </application>
            <application name="Mars">
                <homepage graph="connectionPoolGraph">

                </homepage>

            </application>
        </application-cluster>
    </applications>
    <graphs>

    </graphs>
</jmanage-config>