

<application-config>
    <applications>
        <application id="1234" name="Weblogic 6.1" host="localhost" port="7001" username="system" password="12345678" type="Weblogic">
            <param>
                <param-name>serverName</param-name>
                <param-value>localhome</param-value>
            </param>
            <mbeans>
                <mbean name="Connection Pool">
                    <object-name>site:Name=demoPool,Type=JDBCConnectionPool</object-name>
                </mbean>
                <mbean name="AppProperties">
                    <object-name>UserDomain:name=AppProperties</object-name>
                </mbean>
            </mbeans>
            <roles>
                <role>developer</role>
            </roles>
        </application>

        <application-cluster name="App Cluster">
            <application name="Earth">
            </application>
            <application name="Venus">
            </application>
            <application name="Mars">
                <homepage graph="connectionPoolGraph">
                </homepage>
            </application>
        </application-cluster>
    </applications>
    <graphs>

    </graphs>
</application-config>